.advantages {
  padding: 30px 0;

  &__list {
    list-style: none;
  }
}

.advantages__list-item {
  span {
    display: block;
    padding: 35px 0 15px;
  }

  svg path {
    fill: #63d1bb;
  }

  &--ecology {
    padding-right: 85px;
  }

  &--style {
    padding-right: 55px;
  }

  &--likes {
    padding-right: 75px;
  }

  &--handmade {
    padding-right: 50px;
  }

  &--support {
    padding-right: 0;
  }

  &--gift {
    padding-right: 60px;
  }
}

@media (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;

      &-item {
        width: 334px;

        &--ecology {
          order: 0;
        }

        &--style {
          order: 2;
        }

        &--likes {
          order: 4;
        }

        &--handmade {
          order: 1;
        }

        &--support {
          order: 3;
        }

        &--gift {
          order: 5;
        }
    }
  }
}
