.advantages {
  padding: 19px 30px 0;

  &__list {
    list-style: none;
  }

  &__title {
    margin-bottom: 31px;
  }

  &__icon {
    display: block;
    fill: $mark-color;

    &--ecology {
      margin-left: 8px;
      margin-bottom: 14px;
    }

    &--style {
      margin-top: 30px;
      margin-bottom: 22px;
    }

    &--likes {
      margin-top: 36px;
      margin-left: 8px;
      margin-bottom: 17px;
    }

    &--handmade {
      margin-top: 30px;
      margin-left: 5px;
      margin-bottom: 15px;
    }

    &--support {
      margin-top: 33px;
      margin-left: -5px;
      margin-bottom: 23px;
    }

    &--gift {
      margin-top: 32px;
      margin-left: 5px;
      margin-bottom: 16px;
    }
  }
}

.advantages__list-item {
  &--ecology {
    padding-right: 85px;
  }

  &--style {
    padding-right: 55px;
  }

  &--likes {
    padding-right: 75px;
  }

  &--handmade {
    padding-right: 50px;
  }

  &--support {
    padding-right: 0;
  }

  &--gift {
    padding-right: 60px;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    padding: 29px 50px 82px;

    &__icon {
      &--ecology {
        margin-left: 10px;
        margin-bottom: 13px;
      }

      &--style {
        margin-top: 59px;
        margin-left: 3px;
        margin-bottom: 23px;
      }

      &--likes {
        margin-top: 62px;
        margin-left: 10px;
        margin-bottom: 18px;
      }

      &--handmade {
        margin-top: 3px;
        margin-left: 5px;
        margin-bottom: 14px;
      }

      &--support {
        margin-top: 60px;
        margin-left: -5px;
        margin-bottom: 25px;
      }

      &--gift {
        margin-top: 59px;
        margin-left: 5px;
        margin-bottom: 17px;
      }
    }
  }

  .advantages__title {
    padding: 18px 0;
    width: 700px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;

    &-item {
      width: 334px;
      font-size: 20px;
      line-height: 22px;

      &--ecology {
        padding-right: 130px;
        order: 0;
      }

      &--style {
        padding-right: 100px;
        order: 2;
      }

      &--likes {
        padding-right: 120px;
        order: 4;
      }

      &--handmade {
        padding-right: 85px;
        order: 1;
      }

      &--support {
        order: 3;
      }

      &--gift {
        padding-right: 95px;
        order: 5;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 1150px;
    padding-top: 43px;
    padding-bottom: 89px;

    &__title {
      padding-left: 175px;
    }
  }

  .advantages__list {
    margin: 0 auto;
    width: 700px;

    &-item {
      width: 350px;

      &--ecology {
        padding-right: 146px;
      }

      &--style {
        padding-right: 116px;
      }

      &--likes {
        padding-right: 136px;
      }

      &--handmade {
        padding-right: 101px;
      }

      &--support {
        padding-right: 16px;
      }

      &--gift {
        padding-right: 111px;
      }
    }
  }
}
