.button {
  display: block;
  width: 100%;
  padding: 15px 0;
  font-family: $font-title;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-text;
  text-align: center;
  border: 2px solid $color-text;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: #7c7c7c;
  }

  &--form {
    border: none;
    color: #ffffff;
    background-color: $mark-color;
  }
}
