.button {
  display: block;
  padding: 15px 0;
  font-family: $font-title;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-text;
  text-align: center;
  border: 2px solid $color-text;
}
