.card-product {
  &__link {
    display: block;
    padding: 23px 28px 5px;
    font-size: 17px;
    line-height: 24px;
    color: $color-title;
  }

  &__link-image {
    display: block;
  }

  &__title {
    padding-left: 28px;
    font-family: $font-text;
    font-size: 13px;
    line-height: 30px;
    color: $color-text;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 41px 28px 20px;
    font-size: 15px;
    line-height: 24px;
  }

  &__cart-link {
    path {
      fill: #d3d2d2;
    }

    &:hover path {
      fill: #46c1ae;
    }

    &:active path {
      opacity: 0.2;
    }
  }
}

@media (min-width: $tablet-width) {
  .card-product {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .card-product {
    display: block;
  }
}
