.card-product {
  &:hover .card-product__description {
    box-shadow: 0 6px 10px 0 #e8e8e8;
  }

  &:active .card-product__description {
    box-shadow: 0 3px 5px 0 #e8e8e8;
  }

  &__description {
    margin-top: -2px;
    border: 1px solid #ebebeb;
    border-top: none;
  }

  &__link {
    display: block;
    padding: 26px 28px 5px;
    font-size: 17px;
    line-height: 24px;
    color: $color-title;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__link-image {
    display: block;
  }

  &__title {
    padding-left: 28px;
    padding-bottom: 20px;
    font-family: $font-text;
    font-size: 13px;
    line-height: 30px;
    color: $color-text;
  }

  &__price {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 204px;
    padding: 19px 0 25px;
    font-size: 15px;
    line-height: 24px;
    border-top: 1px solid #ebebeb;
  }

  &__cart-link {
    opacity: 0.2;

    &:hover {
      fill: $mark-color;
      opacity: 1;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .card-product {
    display: flex;

    &__link {
      font-size: 20px;
    }

    &__title {
      font-size: 15px;
    }

    &__price {
      width: 270px;
      padding: 20px 0 30px;
      font-size: 17px;
    }

    &__description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 334px;
    }

    &__header-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}

@media (min-width: $desktop-width) {
  .card-product {
    display: block;

    &__description {
      margin-top: 1px;
      margin-left: -2px;
      width: 316px;
    }

    &__price {
      padding-top: 24px;
      padding-bottom: 25px;
      width: 254px;
    }

    &__header-wrapper {
      height: 118px;
    }

    &__link {
      margin-bottom: 5px;
      padding: 21px 0 0 28px;
    }

    &__title {
      padding: 0 0 0 28px;
    }
  }
}
