.catalog {
  padding-top: 12px;

  &__card-product {
    margin-bottom: 38px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
