.catalog {
  padding-top: 12px;

  &__card-product {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 47px;
    }
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 33px;

    &__card-product {
      margin-bottom: 51px;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-top: 99px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
