.contacts {
  width: 320px;
  margin: 0 auto;
  padding: 10px 0 35px;

  &__wrapper {
    padding: 0 30px;
  }

  &__title {
    padding: 17px 0 15px;
    font-size: 18px;
    line-height: 30px;
    color: $color-text;
  }

  &__list {
    padding: 10px 0 11px;
    font-family: $font-text;
    font-size: 15px;
    line-height: 30px;
    color: $color-text;
  }

  &__row {
    margin-bottom: 29px;
    display: flex;
    width: 100%;
  }

  &__list-link {
    display: block;
    width: 185px;
    color: $color-text;
    border-bottom: 2px solid $mark-color;

    &:hover {
      color: $mark-color;
    }

    &:active {
      color: $mark-color;
      opacity: 0.2;
    }
  }

  &__list-term {
    width: 75px;
  }

  &__list-description {
    width: 185px;
  }

  &__map {
    margin: 0 auto;
  }

  &__button {
    margin: 0 auto;
    margin-top: 37px;
    width: 260px;
  }

  &__icon {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    width: 768px;
    padding-top: 28px;
    padding-bottom: 3px;

    &__wrapper {
      padding: 0 50px;
    }

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 43px;
      line-height: 50px;
    }

    &__list {
      display: flex;
      justify-content: flex-start;
      padding: 12px 0 29px;
      font-size: 17px;
    }

    &__list-link {
      width: 205px;
      align-self: flex-start;
      border-color: red;
    }

    &__list-description {
      width: 259px;
    }

    &__row {
      width: 334px;
    }

    &__button {
      width: 225px;
      margin: 55px auto 50px;
    }

    &__icon {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 120px;
    padding-bottom: 70px;
    width: 1150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

    &__wrapper {
      padding-bottom: 69px;
      width: 525px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    &__map {
      width: 525px;
      margin-top: -54px;
    }

    &__row {
      width: 450px;
    }

    &__list {
      flex-direction: column;
      margin-left: 175px;
      margin-top: -20px;
    }

    &__title {
      width: 525px;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      padding: 0 85px 0 65px;
      font-size: 53px;
      line-height: 57px;
    }

    &__icon {
      margin-right: 65px;
    }

    &__button {
      margin: 0;
      margin-left: 225px;
      margin-top: -90px;
      width: 230px;
      align-self: flex-start;
    }
  }
}
