.copyright__link {
  display: flex;
  padding: 22px 0;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  line-height: 18px;
  color: $color-title;

  svg {
    opacity: 0.7;

    path {
      fill: #63d1bb;
    }
  }

  svg:hover {
    opacity: 1;
  }

  svg:active {
    opacity: 0.3;
  }
}

.copyright__text {
  margin-right: 30px;
}
