.copyright {
  display: flex;
  justify-content: center;
  padding: 18px 0 24px;
  width: 260px;
  align-items: center;
  font-size: 19px;
  line-height: 18px;
  color: $color-title;
  border-top: 1px solid #e1e1e1;

  &__icon {
    display: block;
    opacity: 0.7;
    fill: $mark-color;
  }

  &:hover .copyright__icon {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  margin-right: 30px;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 185px;
    padding-top: 25px;
    border: none;
  }
}
