.form-feedback {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 53px;

  &__description {
    margin: 0 auto;
    margin-bottom: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 260px;
    font-family: $font-text;
    font-size: 13px;
    line-height: 24px;
  }

  &__fieldset {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-bottom: 13px;
    border: none;

    &--phone,
    &--email {
      padding-bottom: 32px;
    }

    &--extra {
      padding-bottom: 15px;
    }
  }

  &__wrapper {
    width: 260px;
    margin: 0 auto;
  }

  &__legend {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 16px;
    color: $mark-color;
    text-transform: uppercase;

    &::after {
      align-self: center;
      content: "";
      width: 75%;
      height: 1px;
      background-color: $mark-color;
    }

    &--phone,
    &--email {
      padding-bottom: 7px;
      margin: 0;
    }

    &--name {
      margin-bottom: 21px;
    }

    &--extra {
      margin-bottom: 22px;
    }
  }

  &__column {
    padding-top: 7px;
  }

  &__field {
    &--phone,
    &--email {
      position: relative;
    }

    &--name {
      display: flex;
      flex-direction: column;
      margin-bottom: 3px;
      padding-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__list {
    list-style: none;

    &--type {
      padding-top: 8px;
      padding-bottom: 10px;
    }

    &--color {
      padding-top: 6px;
    }
  }

  &__option {
    display: flex;
    min-height: 40px;
    padding-bottom: 20px;

    &--color {
      margin-bottom: 21px;

      &:last-child {
        margin-bottom: 9px;
      }
    }
  }

  &__icon {
    position: absolute;
    display: block;
    top: 11px;
    right: 5px;
    opacity: 0.2;
  }

  &__label {
    display: flex;
    align-items: center;
    width: 260px;
    font-size: 17px;
    line-height: 18px;

    &--radio,
    &--checkbox {
      position: relative;
      padding-left: 63px;
      cursor: pointer;
    }

    &--radio::before {
      position: absolute;
      content: "";
      display: block;
      top: -8px;
      left: 0;
      width: 40px;
      height: 40px;
      border: 2px solid $color-title;
      border-radius: 50%;
    }

    &--radio:hover::before {
      border-color: $mark-color;
    }

    &--radio:active::before {
      border-color: #c7c7c7;
    }

    &--checkbox::before {
      position: absolute;
      content: "";
      display: block;
      top: -10px;
      left: 0;
      width: 40px;
      height: 40px;
      border: 2px solid $color-title;
    }

    &--checkbox:hover::before {
      border-color: $mark-color;
    }

    &--checkbox:active::before {
      border-color: #c7c7c7;
    }
  }

  &__input--radio:checked + .form-feedback__label--radio::after {
    position: absolute;
    content: "";
    display: block;
    top: 4px;
    left: 12px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $mark-color;
  }

  &__input--checkbox:checked + .form-feedback__label--checkbox::after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 10px;
    width: 33px;
    height: 22px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-size: 22px 22px;
  }

  &__input-text {
    width: 100%;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    border-bottom: 2px solid $color-title;
    font-size: 17px;
    line-height: 18px;

    &:hover {
      border-color: $mark-color;
    }

    &:focus {
      border-color: $mark-color;
      outline: none;
    }

    &::placeholder {
      color: #d2d2d2;
      font-size: 17px;
      line-height: 18px;
    }
  }

  &__textarea {
    display: block;
    width: 260px;
    min-height: 130px;
    padding-top: 13px;
    padding-right: 15px;
    padding-left: 15px;
    border: 2px solid $color-title;
    font-size: 17px;
    line-height: 18px;
    resize: none;

    &:hover {
      border-color: $mark-color;
    }

    &:focus {
      border-color: $mark-color;
      outline: 0;
    }

    &::placeholder {
      color: #d2d2d2;
      font-size: 17px;
      line-height: 18px;
    }
  }

  &__input-text:hover ~ .form-feedback__icon,
  &__input-text:focus ~ .form-feedback__icon {
    fill: $mark-color;
    opacity: 1;
  }

  &__notification {
    margin-top: 3px;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: $color-text;
  }

  &__button {
    margin: 0 auto;
    margin-top: 30px;
    width: 260px;
  }

  &__footer-container {
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .form-feedback {
    padding-top: 7px;
    padding-bottom: 50px;

    &__description {
      width: $tablet-width;
      padding: 28px 50px 0;
      font-size: 17px;
      line-height: 30px;
    }

    &__fieldset {
      padding-top: 50px;
      padding-bottom: 26px;

      &--type {
        padding-top: 35px;
        padding-bottom: 8px;
      }

      &--color {
        padding-bottom: 16px;
      }

      &--background,
      &--background .form-feedback__input-text {
        background-color: #f1f1f1;
      }

      &--name {
        padding-top: 48px;
        padding-bottom: 32px;
      }

      &--phone {
        padding: 0;
        padding-top: 47px;
      }

      &--email {
        padding: 0;
        padding-bottom: 50px;
      }

      &--extra {
        padding-bottom: 53px;
      }
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      width: 668px;
    }

    &__legend {
      padding-top: 18px;
      padding-left: 2px;

      &::after {
        display: none;
      }

      &--phone {
        padding-top: 16px;
      }

      &--type {
        margin-top: 5px;
      }
    }

    &__list,
    &__column,
    &__field {
      display: flex;
      flex-direction: column;
      width: 500px;
    }

    &__list--type {
      margin-top: 6px;
    }

    &__list--color {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__option--type {
      min-height: 52px;
      margin-bottom: 24px;
    }

    &__option--color {
      width: 238px;
      min-height: 52px;
      margin-bottom: 25px;
    }

    &__field--name {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 22px;
    }

    &__label {
      width: auto;
      font-size: 19px;

      &--radio,
      &--checkbox {
        padding-left: 80px;
      }

      &--radio::before,
      &--checkbox::before {
        width: 52px;
        height: 52px;
      }

      &--name {
        padding-right: 20px;
        padding-bottom: 10px;
      }
    }

    &__input {
      font-size: 19px;
      line-height: 18px;

      &--radio:checked + .form-feedback__label--radio::after {
        top: 8px;
        left: 15px;
        width: 22px;
        height: 22px;
      }

      &--checkbox:checked + .form-feedback__label--checkbox::after {
        top: 10px;
        background-size: 33px 22px;
      }

      &--name {
        padding-top: 8px;
        padding-bottom: 14px;
        padding-left: 21px;
      }
    }

    &__input-text {
      &--phone,
      &--email {
        padding-left: 15px;
      }

      &--phone {
        margin-bottom: 25px;
      }
    }

    &__textarea {
      width: auto;
    }

    &__icon {
      top: 10px;
      right: 25px;
    }

    &__footer-container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 668px;
    }

    &__button {
      margin: 0;
      width: 230px;
    }

    &__notification {
      width: 334px;
      margin: 0;
      padding-top: 10px;
      font-size: 16px;
      line-height: 30px;
      text-align: right;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-feedback {
    padding-top: 70px;
    padding-bottom: 46px;

    &__description {
      width: 700px;
      padding: 0;
      padding-bottom: 5px;
    }

    &__fieldset {
      &--color {
        padding-top: 50px;
      }

      &--name {
        padding-bottom: 26px;
      }

      &--extra {
        padding-bottom: 51px;
      }

      &--type {
        padding-top: 30px;
      }

      &--email {
        padding-bottom: 55px;
      }
    }

    &__wrapper {
      justify-content: flex-start;
      width: 1050px;
    }

    &__legend {
      width: 175px;
      padding-top: 17px;
      padding-left: 61px;

      &--name {
        margin-top: 3px;
      }
    }

    &__list {
      width: 875px;

      &--type {
        padding-bottom: 8px;
      }
    }

    &__column,
    &__field {
      width: 700px;
    }

    &__field--name {
      margin-bottom: 5px;
    }

    &__list--color {
      justify-content: flex-start;
    }

    &__column {
      width: 700px;
    }

    &__option--color {
      width: 263px;
    }

    &__label--name {
      padding-right: 25px;
      padding-bottom: 10px;
    }

    &__icon {
      right: 8px;
    }

    &__footer-container {
      width: 700px;
    }
  }
}
