.form-cart {
  padding: 31px 0 25px;

  &__title {
    margin-bottom: 12px;
    padding: 0 50px;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
  }

  &__fieldset {
    border: none;
  }

  &__legend {
    margin-left: 50px;
    margin-bottom: 17px;
    font-family: $font-text;
    font-size: 15px;
    line-height: 30px;
    color: $color-text;
  }

  &__button {
    margin-right: 6px;
    display: block;
    width: 82px;
    height: 52px;
    font-size: 17px;
    line-height: 16px;
    border: none;
    background-color: #ffffff;

    &:hover {
      border: 2px solid #c6c6c6;
    }

    &--active {
      border: 2px solid $mark-color;
    }
  }

  &__submit {
    border: none;
    color: #ffffff;
    background-color: $mark-color;
  }

  &__button-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: -12px;
    margin-bottom: 20px;
  }
}

@media (min-width: $tablet-width) {
  .form-cart {
    padding-top: 34px;

    &__title {
      font-size: 30px;
      line-height: 57px;
      margin-bottom: 13px;
    }

    &__legend {
      font-size: 17px;
      line-height: 30px;
      text-align: center;
    }

    &__button {
      width: 112px;
    }

    &__submit {
      width: 350px;
      margin: 20px auto;
    }

    &__button-wrapper {
      width: 350px;
      margin: 0 auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-cart {
    &__button-wrapper {
      width: 350px;
    }
  }
}
