.main-nav {
  width: 100%;
  background-color: $bg-color;
}

.main-logo {
  display: inline-block;
  padding: 20px 65px 20px 75px;
  text-align: center;
  vertical-align: middle;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation__link,
.user-navigation__link {
  display: block;
  padding: 25px 35px;
  font-size: 17px;
  line-height: 24px;
  color: $color-title;

  path {
    fill: #d3d2d2;
  }

  &:hover {
    color: #666666;

    path {
      fill: #80dac8;
    }
  }

  &:active {
    opacity: 0.2;
  }
}
/*ghfhd*/
