.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: transparent;

  &__logo {
    padding: 21px 0 0;
  }

  &__text {
    display: none;
    font-family: $font-text;
    font-size: 15px;
    line-height: 24px;
    color: $color-text;
  }

  &__toggle {
    position: absolute;
    top: 26px;
    right: 0;
  }

  &__special-list {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__site-list,
  .main-nav--closed .main-nav__user-list {
    display: none;
  }

  .main-nav--opened .main-nav__site-list,
  .main-nav--opened .main-nav__user-list {
    display: block;
  }

  .main-nav--closed .main-nav__toggle {
    background-image: url("../../img/icon-menu-open.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  .main-nav--opened .main-nav__toggle {
    background-image: url("../../img/icon-menu-close.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    padding-top: 5px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    &__text {
      display: block;
      width: 334px;
      text-align: right;
      order: 3;
    }

    &__logo {
      padding: 10px 0 0;
      width: 334px;
      order: 0;
    }

    &__logo-image {
      width: 112px;
      height: 46px;
    }

    &__toggle {
      display: none;
    }

    &__user-list {
      width: 334px;
      order: 1;
    }

    &__site-list {
      width: 334px;
      order: 2;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    &__logo {
      position: absolute;
      top: 0;
      left: 43%;
    }

    &__logo-image {
      width: 148px;
      height: 73px;
    }

    &__site-list {
      width: 525px;
      order: 0;
    }

    &__user-list {
      width: 525px;
      order: 1;
    }

    &__special-list {
      width: 525px;
      order: 2;
    }

    &__text {
      width: 525px;
    }
  }
}
