.main-logo {
  padding: 20px 0 20px;
}

@media (min-width: $tablet-width) {
  .main-logo {
    width: 334px;
    order: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-logo {
    position: absolute;
    top: 0;
    left: 50%;
  }
}
