.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: transparent;

  &__text {
    display: none;
    font-family: $font-text;
    font-size: 15px;
    line-height: 24px;
    color: $color-text;
  }

  &__toggle {
    position: absolute;
    top: 25px;
    right: 20px;
  }

  &__special-list {
    display: none;
  }
}

/*@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__site-list,
  .main-nav--closed .main-nav__user-list {
    display: none;
  }

  .main-nav--opened .main-nav__site-list,
  .main-nav--opened .main-nav__user-list {
    display: block;
  }
}*/

@media (min-width: $tablet-width) {
  .main-nav {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    &__text {
      display: block;
      width: 334px;
      text-align: right;
      order: 3;
    }

    &__logo {
      width: 334px;
      order: 0;
    }

    &__toggle {
      display: none;
    }

    &__user-list {
      width: 334px;
      order: 1;
    }

    &__site-list {
      width: 334px;
      order: 2;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    &__logo {
      position: absolute;
      top: 0;
      left: 50%;
    }

    &__site-list {
      width: 525px;
      order: 0;
    }

    &__user-list {
      width: 525px;
      order: 1;
    }

    &__special-list {
      display: block;
      width: 525px;
      order: 2;
    }

    &__text {
      width: 525px;
    }
  }
}
