.map {
  width: 320px;
  height: 457px;
  margin-bottom: 37px;
  background:
    url("../../img/icon-map-pin.svg") no-repeat 55% 40%,
    url("../../img/map-mobile@1x.jpg") no-repeat 0 0;
  background-size: 66px 101px,
                   320px auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/icon-map-pin.svg"),
                      url("../../img/map-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .map {
    width: $tablet-width;
    background:
      url("../../img/icon-map-pin.svg") no-repeat 52% 39%,
      url("../../img/map-tablet@1x.jpg") no-repeat 0 0;
    background-size:  66px 101px,
                      768px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/icon-map-pin.svg"),
                        url("../../img/map-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: 525px;
    background:
      url("../../img/icon-map-pin.svg") no-repeat 52% 41%,
      url("../../img/map-desktop@1x.jpg") no-repeat 0 0;
      background-size:  66px 101px,
                        525px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/icon-map-pin.svg"),
                        url("../../img/map-desktop@2x.jpg");
    }
  }
}
