.menu-toggle {
  display: block;
  width: 25px;
  height: 25px;
  border: none;
  background-color: blue;
  /*background-image: url("../../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: center center;*/
}
