.page-title {
  position: relative;
  padding: 72px 0 75px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: #f1f1f1;
  z-index: 0;

  &__icon-fill {
    position: absolute;
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-title {
    padding: 97px 0;
    font-size: 43px;
    line-height: 50px;

    &__icon-fill {
      display: block;
      left: 0;
      bottom: -6px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    padding: 94px 0 97px;
    font-size: 53px;
    line-height: 57px;

    &__icon-fill {
      width: 1150px;
      bottom: -20px;
    }
  }
}
