.page-footer {
  background-color: #f1f1f1;

  &__logo {
    display: none;
  }

  &__social {
    width: 145px;
    margin: 0 auto;
  }

  &__copyright {
    margin: 0 auto;
  }

  &__wrapper {
    width: 320px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding: 30px 0;

    &__logo {
      display: block;
      width: 180px;

      &:hover {
        fill: $mark-color;
      }

      &:active {
        opacity: 0.3;
      }
    }

    &__wrapper {
      display: flex;
      width: 668px;
      justify-content: space-between;
      align-items: center;
    }

    &__copyright {
      margin: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    &__wrapper {
      width: 1050px;
    }
  }
}
