.page-title {
  padding: 72px 0 75px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: #f1f1f1;
}

@media (min-width: $tablet-width) {
  .page-title {
    padding: 97px 0 90px;
    font-size: 43px;
    line-height: 50px;
    background-image: (url("../img/icon-fill.svg"));
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 768px auto;
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    padding: 94px 0 120px;
    font-size: 53px;
    line-height: 57px;
    background-image: (url("../img/icon-fill.svg"));
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 1150px auto;
  }
}
