.promo-title {
  padding: 90px 0 105px;
  font-size: 27px;
  line-height: 30px;
  color: $color-title;
  text-align: center;
}

@media (min-width: 768px) {
  .promo-title {
    padding: 190px 0 305px;
    font-size: 43px;
    line-height: 50px;
  }
}
