.promo-title {
  padding: 72px 0 105px;
  font-size: 27px;
  line-height: 30px;
  color: $color-title;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .promo-title {
    padding: 158px 0 344px;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .promo-title {
    padding: 156px 0 324px;
    font-size: 53px;
    line-height: 57px;
  }
}
