.promo-menu {
  list-style: none;

  &__text {
    display: block;
    padding: 23px 0;
    width: 130px;
    font-size: 19px;
    line-height: 24px;
    color: #ffffff;
    text-align: left;
  }

  svg {
    opacity: 0.2;
  }
}

.promo-menu__link {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &--interior {
    background-color: #63d1bb;
  }

  &--toy {
    background-color: #56c3b2;
  }
}

@media (min-width: $tablet-width) {
  .promo-menu {
    &__link {
      width: 334px;
      font-size: 20px;
      line-height: 30px;
    }

    &__text {
      width: 167px;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo-menu {
    &__text {
      width: 175px;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo-menu {
    &__link {
      width: 525px;
    }
  }
}
