.promo-menu {
  list-style: none;

  &__text {
    display: block;
    width: 130px;
    font-size: 19px;
    line-height: 24px;
    color: #ffffff;
    text-align: left;
  }

  &__icon {
    opacity: 0.5;
  }

  &__item:hover .promo-menu__icon {
    opacity: 0.7;
  }
}

.promo-menu__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--interior {
    padding: 18px 35px 22px 30px;
    background-color: $mark-color;
  }

  &--interior:hover {
    background-color: #58d5bc;
  }

  &--interior:active .promo-menu__icon,
  &--interior:active .promo-menu__text {
    opacity: 0.3;
  }

  &--toy {
    padding: 20px 30px 24px;
    background-color: #55c3b2;
  }

  &--toy:hover {
    background-color: #45c1ae;
  }

  &--toy:active .promo-menu__icon,
  &--toy:active .promo-menu__text {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .promo-menu {
    &__link {
      width: 334px;

      &--interior {
        padding: 27px 36px 28px;
      }

      &--toy {
        padding: 27px 34px 30px 37px;
      }
    }

    &__text {
      width: 167px;
      font-size: 20px;
      line-height: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo-menu {
    &__text {
      width: 175px;
    }

    &__link {
      width: 525px;

      &--interior {
        padding: 27px 36px 29px;
      }

      &--toy {
        padding: 27px 34px 31px 37px;
      }
    }
  }
}
