.promo-title {
  padding: 72px 0 104px;
  font-size: 27px;
  line-height: 30px;
  color: $color-title;
  text-align: center;
}

@media (min-width: 768px) {
  .promo-title {
    padding: 155px 0 344px;
    font-size: 43px;
    line-height: 50px;
  }
}
