.reviews {
  position: relative;
  margin: 0 auto;
  padding: 56px 30px 60px;

  &__icon-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 23px;
  }

  &__text {
    padding: 22px 0 30px;
    font-family: $font-text;
    font-size: 15px;
    line-height: 30px;
    color: $color-text;
  }

  &__author-name {
    font-style: normal;
  }

  &__author-email {
    display: block;
    padding: 12px 0 34px;
    font-family: $font-text;
    color: $color-text;
    font-style: normal;
  }

  &__navigation {
    display: flex;
  }

  &__nav-button {
    margin-bottom: 35px;
    width: 130px;
    height: 52px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.2;
      outline: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 78px 48px 86px;
    width: $tablet-width;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 350px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }

    &__icon-line {
      width: 768px;
    }

    &__title {
      width: 334px;
      order: 0;
    }

    &__author {
      padding: 16px 3px;
      width: 334px;
      order: 3;
    }

    &__author-name {
      font-size: 18px;
    }

    &__text {
      padding: 44px 0;
      font-size: 17px;
      order: 2;
    }

    &__navigation {
      margin-top: 10px;
      margin-right: 5px;
      width: 167px;
      order: 4;
    }

    &__button {
      width: 175px;
      order: 1;
    }

    &__nav-button {
      border: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 1050px;
    padding: 69px 0 140px 173px;

    &__text {
      padding-top: 45px;
      padding-right: 107px;
      padding-bottom: 25px;
    }

    &__author-name {
      font-size: 17px;
    }

    &__button {
      margin-top: 10px;
    }

    &__icon-line {
      width: 100%;
    }
  }
}
