.site-navigation {
  list-style: none;
  display: flex;
  flex-direction: column;

  &__item {
    border-bottom: 1px solid #ebebeb;
  }
}

.site-navigation__link {
  display: block;
  margin: 0 auto;
  width: 260px;
  font-size: 17px;
  line-height: 24px;
  color: $color-title;
  text-align: left;

  &:hover {
    opacity: 0.6;;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .site-navigation {
    flex-direction: row;
    flex-wrap: wrap;

    &__link {
      padding: 0;
      width: 167px;
      font-size: 15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-navigation {
    &__link {
      width: 218px;
      font-size: 17px;
    }
  }
}
