.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;

  &__item {
    border-top: 1px solid #ebebeb;
  }
}

.site-navigation__link {
  display: block;
  padding: 25px 0 25px 43px;
  font-size: 17px;
  line-height: 24px;
  color: $color-title;
  text-align: left;

  &:hover {
    color: #666666;
  }

  &:active {
    opacity: 0.2;
  }
}

@media (min-width: $tablet-width) {
  .site-navigation {
    display: flex;
    justify-content: flex-start;
    width: 334px;

    &__link {
      padding: 0;
      width: 167px;
      font-size: 15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-navigation {
    &__link {
      width: 218px;
      font-size: 17px;
    }
  }
}
