.site-navigation {
  list-style: none;
  display: flex;
  flex-direction: column;

  &__item {
    border-bottom: 1px solid #ebebeb;
  }
}

.site-navigation__link {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-left: 75px;
  padding: 26px 0 27px;
  font-size: 17px;
  line-height: 24px;
  color: $color-title;
  text-align: left;

  &:hover {
    opacity: 0.6;;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .site-navigation {
    flex-direction: row;
    flex-wrap: wrap;

    &__link {
      margin: 0;
      padding: 20px 0;
      width: 167px;
      font-size: 15px;
    }

    &__item {
      border: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-navigation {
    &__link {
      margin-right: 52px;
      padding: 30px 0 32px;
      font-size: 17px;
    }
  }
}
