.social-links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 35px;
  padding: 26px 27px;
  list-style: none;

  &__item {
    margin-right: 40px;
  }

  &__link {
    display: block;

    &:hover path {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
