.social-links {
  display: flex;
  padding: 26px 0 25px;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;

  &__item {
    margin-right: 40px;
  }

  &__link {
    display: block;

    &:hover path {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
