.special-list {
  list-style: none;

  &__link {
    font-size: 15px;
    line-height: 24px;
    color: $color-title;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .special-list {
    display: flex;
    justify-content: flex-start;

    &__link {
      display: block;
      padding: 27px 0;
      width: 218px;
    }
  }
}
