.special-list {
  list-style: none;

  &__link {
    font-size: 15px;
    line-height: 24px;
    color: $color-title;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .special-list {
    flex-direction: row;
    flex-wrap: wrap;

    &__link {
      margin-right: 62px;
      margin-top: 30px;
    }
  }
}
