.table-description {
  margin-bottom: 20px;

  &__cell {
    padding-right: 25px;
    font-family: $font-text;
    font-size: 15px;
    line-height: 20px;
  }
}

@media (min-width: $tablet-width) {
  .table-description {
    margin-bottom: 0;

    &__cell {
    padding: 8px 25px 10px 0;
    }
  }
}
