.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;

  &__item {
    border-top: 1px solid #ebebeb;
  }

  &__icon {
    position: absolute;
    top: 40%;
    left: 0;
    opacity: 0.3;
  }
}

.user-navigation__link {
  position: relative;
  display: block;
  padding: 25px 0 25px 43px;
  font-size: 17px;
  line-height: 24px;
  color: $color-title;
  text-align: left;

  &:hover {
    color: #666666;
  }

  &:active {
    opacity: 0.2;
  }
}

@media (min-width: $tablet-width) {
  .user-navigation {
    width: 334px;
    display: flex;
    justify-content: flex-end;

    &__link svg {
      padding-right: 20px;
    }

    &__link--search {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      font-size: 0;
    }

    &__link--cart {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 274px;
    }
  }
}
