.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation__link {
  display: block;
  padding: 25px 0;
  font-size: 17px;
  line-height: 24px;
  color: $color-title;

  path {
    fill: #d3d2d2;
  }

  &:hover {
    color: #666666;

    path {
      fill: #80dac8;
    }
  }

  &:active {
    opacity: 0.2;
  }
}

@media (min-width: $tablet-width) {
  .user-navigation {
    width: 334px;
    display: flex;
    justify-content: flex-end;

    &__link svg {
      padding-right: 20px;
    }

    &__link--search {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      font-size: 0;
    }

    &__link--cart {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 274px;
    }
  }
}
