.video {
  padding-bottom: 86px;

  &__title {
    display: flex;
    align-items: center;
    padding: 25px 0 25px 33px;
    font-size: 17px;
    line-height: 24px;
    border: 1px solid #ebebeb;
    border-bottom: none;
  }

  &__icon {
    display: inline-block;
    margin-right: 24px;
  }

  &__icon path {
    fill: $mark-color;
  }

  &__content {
    width: 260px;
    height: 150px;
    background: url("../../img/video-mobile@1x.jpg") no-repeat 0 0;
    background-size: 260px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/video-mobile@2x.jpg");
    }
  }

  &__content-wrapper {
    position: relative;
  }

  &__play-button {
    position: absolute;
    top: 15%;
    left: 25%;
    width: 130px;
    height: 110px;
    background-color: transparent;
    background-image: url("../../img/icon-play.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 101px 77px;
    border: none;
    outline: none;

    &:hover {
      background-size: 121px 92px;
    }

    &:active {
      background-size: 81px 62px;
      opacity: 0.7;
    }
  }

  &__description {
    padding: 23px 40px 24px 33px;
    font-family: $font-text;
    font-size: 13px;
    line-height: 24px;
    color: $color-text;
  }

  &__button {
    width: 190px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .video {
    display: flex;
    flex-direction: column;

    &__title {
      order: 1;
      border: none;
    }

    &__content-wrapper {
      order: 0;
    }

    &__content {
      width: 668px;
      height: 455px;
      background: url("../../img/video-tablet@1x.jpg") no-repeat 0 0;
      background-size: 668px auto;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../../img/video-tablet@2x.jpg");
      }
    }

    &__play-button {
      top: 35%;
      left: 40%;
    }

    &__description {
      padding-top: 0;
      order: 2;
    }

    &__button {
      margin: 0 auto;
      width: 580px;
      order: 3;
    }
  }
}

@media (min-width: $desktop-width) {
  .video {
    position: relative;
    display: block;

    &__title {
      display: flex;
      flex-direction: column;
      width: 165px;
      margin-left: 755px;
    }

    &__content-wrapper {
      position: absolute;
      width: 700px;
    }

    &__content {
      width: 682px;
      height: 455px;
      background: url("../../img/video-desktop@1x.jpg") no-repeat 0 0;
      background-size: 682px auto;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../../img/video-desktop@2x.jpg");
      }
    }

    &__description {
      padding-left: 755px;
    }

    &__play-button {
      top: 38%;
    }

    &__button {
      margin-left: 755px;
      width: 225px;
    }
  }
}
