.video {
  padding-bottom: 86px;

  &__title {
    display: flex;
    align-items: center;
    padding: 25px 0px 25px 33px;
    font-size: 17px;
    line-height: 24px;
  }

  &__icon {
    display: inline-block;
    margin-right: 24px;
  }

  &__icon path {
    fill: $mark-color;
  }

  &__content {
    width: 260px;
    height: 150px;
    background: url("../../img/video-mobile@1x.jpg") no-repeat 0 0;
  }

  &__content-wrapper {
    position: relative;
  }

  &__play-button {
    position: absolute;
    top: 25%;
    left: 30%;
    background-color: transparent;
    border: none;
  }

  &__description {
    padding: 23px 40px 24px 33px;
    font-family: $font-text;
    font-size: 13px;
    line-height: 24px;
    color: $color-text;
  }

  &__button {
    width: 190px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .video {
    display: flex;
    flex-direction: column;

    &__title {
      order: 1;
    }

    &__content-wrapper {
      order: 0;
    }

    &__description {
      padding-top: 0;
      order: 2;
    }

    &__button {
      margin: 0 auto;
      width: 580px;
      order: 3;
    }
  }
}

@media (min-width: $desktop-width) {
  .video {
    position: relative;
    display: block;

    &__title {
      display: flex;
      flex-direction: column;
      width: 165px;
      margin-left: 755px;
    }

    &__content-wrapper {
      position: absolute;
      width: 700px;
    }

    &__description {
      padding-left: 755px;
    }

    &__button {
      margin-left: 755px;
      width: 225px;
    }
  }
}
