.week-goods {
  padding-top: 30px;

  &__mark {
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    color: $mark-color;
  }

  &__description {
    padding: 25px 0;
    font-family: $font-text;
    font-size: 15px;
  }

  &__price {
    padding: 25px 0;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: $color-text;
  }
}

.table-description {
  margin-bottom: 20px;

  &__cell {
    padding-right: 25px;
    font-family: $font-text;
    font-size: 15px;
  }
}
