.week-goods {
  margin: 0 auto;
  padding-top: 9px;
  width: 260px;

  &__title {
    margin-bottom: 4px;
  }

  &__mark {
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    color: $mark-color;
  }

  &__description {
    padding: 25px 0 18px;
    font-family: $font-text;
    font-size: 15px;
    line-height: 24px;
  }

  &__image {
    margin-top: 29px;
  }

  &__price {
    padding: 25px 0;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: $color-text;
  }
}

.table-description {
  margin-bottom: 20px;

  &__cell {
    padding:  8px 25px 8px 0;
    font-family: $font-text;
    font-size: 15px;
  }
}

@media (min-width: $tablet-width) {
  .week-goods {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 668px;
    padding-top: 33px;

    &__mark {
      width: 125px;
      line-height: 17px;
      text-align: center;
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 668px;
    }

    &__description {
      font-size: 17px;
      line-height: 30px;
    }

    &__wrapper {
      padding-top: 20px;
      width: 290px;
    }

    &__image {
      width: 334px;
      top: 0;
      left: 334px;
    }
  }
}

@media (min-width: $desktop-width) {
  .week-goods {
    &__title {
      order: 1;
    }

    &__mark {
      order: 0;
    }
  }
}
